h1{color:blue;
background-color: aqua;
text-align: center;
font-size: x-large;}

p{
    color:green;
    font-size: medium;
    text-align:center;
}

h2{
    color: rgb(29, 40, 189);
    text-align: center;
    font-size: medium;
}
ul{
    color: rgb(0, 0, 0);
    font-size: medium;
    text-align: center;
}
li{
    border: solid 2px black;
    border-color: blueviolet;
    border-style: dashed;
    border-width: 5px;
    ;
}